/* стилі хедеру */
.header{
    background-color:  #012D63;;
    color: #C7C7C7;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 165px 17px 168px;
}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 29px;
}
.nav-list li:hover{
    font-weight: 400;
    color: #FFF;
    
}
.nav-languich a:hover{
    color:#FFFFFF ;
}
/* main */
.home{
    background-image: url(/src/images/cross.png);
    background-size: cover;
    padding: 94px 644px 183px 164px;
}
.home-container{
    display: flex;
    flex-direction: column;
}
.home-title{
    font-size: 144px;
    font-weight: 400;
}
.home-title::before{
    content: '';
    display: flex;
    width: 178px;
    height: 86px;
    background-image: url(/src/images/С&R.svg);
    background-repeat: no-repeat;
    background-image: url(/src/images/logo.png);
}
.home-title2{
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 12px;
}
.home-text{
    font-size: 18px;
    font-weight: 400;
    width: 508px;
    height: 84px;
    margin-bottom: 61px;
}
.btn{
    display: flex;
    padding: 20px 61px 20px 61px;
    width: 254px;
    border-radius: 10px;
    background-color: #8E32C6;
    justify-content: center;
    align-items: center;
}
/* друга секція */
.advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, at bottom right ,rgb(129,48,185), rgb(2,22,53));
    padding: 105px 165px;
}
.advantages-container{
    display: flex;
    gap: 145px;
    flex-direction: row; 
    border: solid;
    border-color: #8E32C6;
    border-width: 5px;
}
.card-adv{
    font-size: 36px;
    text-align: center;
}
.photo-card{
    width: 240px;
    height: 240px;
}
.advantages-container:nth-child(1){
    margin-left: 50px;
}
.advantages-container:nth-child(3){
    margin-right: 50px;
}
/* третя секція */
.reviews{
    background-color: #012D63;
    /* height: 520px; */
    border: solid;
    border-width: 2px;
    border-color: #FFF;
    padding: 24px 245px 114px 244px;
}
.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.reviews-cards{
    display: flex;
    gap: 95px;
}
.card-rev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-radius: 15px;
    /* width: 255px;
    height: 292px; */
    padding: 49px 14px 29px 14px;
}
.card-rev-1{
    background: linear-gradient(135deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.50%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}
.card-rev-2{
    background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow:  0px 14px 0px -5px #9159B1,0px 30px 0px -13px #61337C;
}
.card-rev-3{
    background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C,0px 30px 0px -13px #732F26;
}
.rev-text{
    width: 228px;
    margin-bottom: 8px;
}
.rev-date{
    font-size: 14px;
    color: #D8D8D8;
    margin-bottom: 47px;
}
.name{
    font-size: 14px;
    margin-bottom: 1px;
}
.with_us{
    font-size: 12px;
    color: #D8D8D8;
}
.people{
    display: flex;
    flex-direction: row;
}
.people::before{
    content: '';
    display: block;
    width: 31px;
    height: 31px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
}
.people1::before{
    content: '';
    background-image: url(/src/images/Ellipse\ 17.png);
}
.people2::before{
    content: '';
    background-image: url(/src/images/Ellipse\ 18.png);
}
.people3::before{
    content: '';
    background-image: url(/src/images/Ellipse\ 19.png);
}
/* 4 */
.order{
    background-image: url(/src/images/Group\ 2\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 375px 37px 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input1{
    border: none;
    outline: none;
    padding: 0; 
    font-size: 28px;
    color: #959595;
}

.form2{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 50px;
    padding: 12px 78px 12px 25px;  
}
.input2{
    text-align: end;
}
.form{
    border-radius: 50px;
    background: #FFF;
    color: #959595;
    padding: 11px 417px 11px 24px;
}
.input{
    border: none;
    outline: none;
    padding: 0;
    color: #959595;  
}
.all_forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.forms{    
    display: flex;
    flex-direction: column;
    gap: 20px
}
.order-container{
    display: flex;
    flex-direction: column;
    padding: 20px 375px 37px 375px;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.order-btn{
    border-radius: 16px;
    background: #8E32C6;
    padding: 20px 49px;
}
/* footer */
.footer{
    background-color: #021635;
}
.footer-container{
    padding: 45px 164px 50px 165px;
}
.footer-section1{
    display: flex;
    justify-content: space-between;
}
.footer-section-container1{
    display: flex;
    flex-direction: column;
}
.footer-section-container2{
    display: flex;
    flex-direction: column;
    text-decoration-line: underline;
}
.footer-section1::after{
    content: '';
    height: 1px;
    color: #FFF;
}