.header{
    background-color:  #012D63;;
    color: #C7C7C7;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 73px;
    max-width: 1110px;
    margin: 0 auto;
}
.header-logo{
    padding-right: 79px;
}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 29px;
}
.nav-list li:hover{
    font-weight: 400;
    color: #FFF;
    
}
.nav-languich a:hover{
    color:#FFFFFF ;
}
.home{
    background-image: url(/src/images/cross.jpg);
    background-size: cover;
    padding: 94px 644px 183px 164px;
}
.home-container{
    display: flex;
    flex-direction: column;
}
.home-title{
    font-size: 144px;
}
.home-title::before{
     content: '';
    background-image: url(/src/images/С&R.svg);
    display: flex;
    width: 178px;
    height: 86px;
    background-repeat: no-repeat;
    background-position: center;
}
.home-title2{
    font-size: 72px;
    margin-bottom: 12px;
}
.home-titles::before{
    content: '';
    display: flex;
    width: 160px;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url(/src/images/logo.svg);
    background-size: contain;
}
.home-text{
    font-size: 18px;
    font-weight: 400;
    width: 508px;
    height: 84px;
    margin-bottom: 61px;
}
.btn{
    padding: 20px 61px 20px 61px;
    border-radius: 10px;
    background-color: #8E32C6;
    text-align: center;
}
.advantages{
    padding: 105px 165px;
    background-color: rgb(2, 22, 53);
    background-image: radial-gradient(
      circle at left top,
      rgb(129, 48, 185) 1px,
      rgba(2, 22, 53, 0) 30%
    ),
    radial-gradient(
      circle at right bottom,
      rgb(1, 165 ,198) 1px,
      rgba(2, 22, 53, 0) 30%
    );
}
.advantages-container{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    /* gap: 145px; */
    flex-direction: row; 
    border: solid;
    border-color: #8E32C6;
    border-width: 5px;
}
.card-adv{
    font-size: 36px;
    text-align: center;
    padding: 25px 50px 19px 50px;
}
.photo-card{
    width: 240px;
    height: 240px;
}
.reviews{
    padding: 24px 245px 114px 244px;
    background-color: rgb(2, 22, 53);
    background: url(/src/images/flovers.png), radial-gradient(circle at right bottom,rgb(1,165,198)1px,rgb(2, 22, 53)  30%);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-bottom: #FFF solid 2px;
    border-top: #FFF solid 2px;
}
.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.reviews-cards{
    display: flex;
    gap: 95px;
}
.card-rev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 49px 14px 29px 14px;
}
.card-rev-1{
    background: linear-gradient(135deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.50%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}
.card-rev-2{
    background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow:  0px 14px 0px -5px #9159B1,0px 30px 0px -13px #61337C;
}
.card-rev-3{
    background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C,0px 30px 0px -13px #732F26;
}
.rev-text{
    width: 228px;
    margin-bottom: 8px;
}
.rev-date{
    font-size: 14px;
    color: #D8D8D8;
    margin-bottom: 47px;
}
.name{
    font-size: 14px;
    margin-bottom: 1px;
}
.with_us{
    font-size: 12px;
    color: #D8D8D8;
}
.people{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
 .order{
    background-image: url(/src/images/fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 375px 37px 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_box{
    padding: 0px 375px;
}
.form1{
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 12px 78px 12px 25px;
}
.input1{
    font-size: 28px;
}
.form_btn{
    background-color: #FFF;
    font-size: 28px;
    color: #8D8D8D;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 0px 430px;
}
.form{
    border-radius: 50px;
    background: #FFF;
    padding: 11px 417px 11px 24px;
    font-size: 24px;
}
.order-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.order-btn{
    border-radius: 16px;
    background: #8E32C6;
    padding: 20px 49px;
    margin-bottom: 17px;
}
.footer{
    background-color: #021635;
    padding: 45px 164px 50px 165px;
}
.footer-section1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-section-container1{
    display: flex;
    flex-direction: column;
}
.footer-section-container2{
    display: flex;
    flex-direction: column;
    text-decoration-line: underline;
}
.footer-section-container3{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.footer-section::after{
    content: '';
    display: block;
    background-color: #9B9B9B;
    height: 1px;
    margin-bottom: 24px;
}
.our_link{
    display: flex;
    justify-content: space-between;
}
.footer-section2{
    display: flex;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    height: 105px;
}
